version:  "3"
services:
  db:
    build: ./db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Asel.2017!!
      MYSQL_DATABASE: asel_db
      MYSQL_USER: asel
      MYSQL_PASSWORD: db_asel123_
    ports:
      - "3307:3307"
  web_app:
    build: ./web_app
    environment:
      - DEBUG=0
    ports:
      - "5000:5000"
    depends_on:
      - db