@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.container {
  max-width: 960px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.logo {
  display: flex;
  align-self: center;
}

.forms {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.forms > div {
  border: 1px solid #e4e4e4;
  padding: 10px;
  min-width: 400px;
  text-align: center;
  height: 100%;
}

/* bootstrap overrides */

.md-form-select {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.md-form-select label {
  position: initial;
  font-weight: 400;
  margin-bottom: 10px;
}

@media only screen and (max-width: 960px) {
  .forms > div {
    min-width: 100px;
  }
  #countries {
    font-size: 12px;
  }
}